In [20]:
import requests
from jinja2 import Environment, FileSystemLoader
import pandas as pd
from datetime import datetime as dt
import re

In [21]:
uri = "https://en.wikipedia.org/wiki/List_of_reported_UFO_sightings"
rep_rex = re.compile(r'\[\d{1,5}\]')

In [9]:
df = pd.read_html(uri)

In [10]:
df[0:6]
n_df = pd.concat(df[0:7])
n_df.dropna(subset=['Name'], inplace=True)
n_df.drop(columns=['.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Date'], inplace=True)

In [11]:
n_df

,Date,Name,Location,Description
1,c.Â 1450Â BC,Thutmose III Jebel Barkal Stele,"Aâ€‹FAncient Egypt; Jebel Barkal, Lower Egypt",After conquering the ancient Nubian city of Na...
2,218Â BC,Ships in the sky,"Eâ€‹URoman Republic; Rome, Italia","During the build-up to the Second Punic War, L..."
3,76Â BC,Spark from a falling star,Aâ€‹SRoman Republic; Asia,"According to Pliny the Elder, a spark fell fro..."
4,7Â BC,Flame-like wine-jars from the sky,"Aâ€‹SRoman Republic; Phrygia, Asia","According to Plutarch, a Roman army commanded ..."
5,ADÂ 65,Sky army,Aâ€‹SRoman Empire; Judaea,Romano-Jewish historian Flavius Josephus repor...
...,...,...,...,...
10,2009-1-5,Morristown UFO hoax,"Nâ€‹AUnited States; Morristown, New Jersey","In the evening, citizens in Morristown and oth..."
11,2010-1-25,Harbour Mille incident,"Nâ€‹ACanada; Harbour Mille, Newfoundland and Lab...",At least three UFOs that looked like missiles ...
12,2010-8-7,Tirana UFO incident,Eâ€‹UAlbania; Tirana,"Rezmie Lulo, a witness from Tirana, described ..."
13,2014-6-2 to 2015-3-10,USS Theodore Roosevelt UFO incidents,Nâ€‹AUnited States; East Coast of the United States,Navy pilots from the Theodore Roosevelt began ...
14,2023-1-28 to 2023-2-13,List of high-altitude object events in 2023,"Iâ€‹CUnited States, Canada, Colombia, Costa Rica...","Multiple airborne objects, sometimes reported ..."

In [17]:
environment = Environment(loader=FileSystemLoader("./_templates/"))
template = environment.get_template("ðŸ”¥ Incident Template.md")

In [22]:
for index, row in n_df.iterrows():
    f_name = f"../ðŸ”¥ Incidents/ðŸ”¥ {row['Name']}.md"
    date = dt.now()
    data = {
        "author": "aGuyOverThere", 
        "source": f"[Wikipedia Ufo Sightings]({uri})",
        "type": "#sighting",
        "incident_date": row['Date'],
        "reported_date": "unknown",
        "incident_author": "Wikipedia",
        "incident_location": row['Location'],
        "incident_summary": rep_rex.sub("", row['Description']),
        "created_date": date.strftime('%m/%d/%Y'),
        "created_year": date.year,
        "mm_yyyy": date.strftime('%m_%Y'),
        "id": row['Name'].split()[0]
    }
    content = template.render(data)
    with open(f_name, mode="w", encoding="utf-8") as message:
        message.write(content)